In [ ]:
### -------------------------- 生信分析基础 ------------------------------ ###
## contact: fuxin@singleronbio.com
## R语言基数据础

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
## --------------------- 1.R语言基础 --------------------------
# 数据框 data.frame
df1 = data.frame(x = c("a","a","b","e","b","a"),
                 y = c(1,2,3,4,4.5,0))
df2 = data.frame(x = c("a","b","c","d"),
                 z = c(5,6,7,8))

In [3]:
#数据框结构
df1
str(df1) #数据结构
dim(df1) #维度
colnames(df1) #行名
rownames(df1) #列名

  x y
1 a 1.0
2 a 2.0
3 b 3.0
4 e 4.0
5 b 4.5
6 a 0.0

'data.frame':	6 obs. of  2 variables:
 $ x: chr  "a" "a" "b" "e" ...
 $ y: num  1 2 3 4 4.5 0

[1] 6 2

[1] "x" "y"

[1] "1" "2" "3" "4" "5" "6"

In [4]:
# 数据框转置
t_df1= data.frame(t(df1))
s_df1 = data.frame(t(t_df1))
t_df1
s_df1

  X1  X2  X3  X4  X5  X6
x a   a   b   e   b   a
y 1.0 2.0 3.0 4.0 4.5 0.0

   x y
X1 a 1.0
X2 a 2.0
X3 b 3.0
X4 e 4.0
X5 b 4.5
X6 a 0.0

In [5]:
# 数据框合并
inner_join(df1,df2)->ij_df #df1.x & df2.x
full_join(df1,df2)-> fj_df #df1.x | df2.x
df1%>%left_join(df2)->lj_df # df1.x
df1%>%right_join(df2)-> rj_df #df2.x

ij_df
fj_df
lj_df
rj_df

Joining, by = "x"

Joining, by = "x"

Joining, by = "x"

Joining, by = "x"

  x y   z
1 a 1.0 5
2 a 2.0 5
3 b 3.0 6
4 b 4.5 6
5 a 0.0 5

  x y   z
1 a 1.0  5
2 a 2.0  5
3 b 3.0  6
4 e 4.0 NA
5 b 4.5  6
6 a 0.0  5
7 c  NA  7
8 d  NA  8

  x y   z
1 a 1.0  5
2 a 2.0  5
3 b 3.0  6
4 e 4.0 NA
5 b 4.5  6
6 a 0.0  5

  x y   z
1 a 1.0 5
2 a 2.0 5
3 b 3.0 6
4 b 4.5 6
5 a 0.0 5
6 c  NA 7
7 d  NA 8

In [6]:
# 数据框的增（mutate），筛选（filter），取子集（select）
df1%>%
    mutate(z = y+5,
           w = round(rnorm(6, mean=2, sd=1),4))%>%
    filter(y > 0)%>%
    select(x,z,w)->df1_mfs
df1_mfs

  x z   w
1 a 6.0 1.5372
2 a 7.0 1.8955
3 b 8.0 0.0918
4 e 9.0 2.7579
5 b 9.5 3.5597

In [7]:
# 数据框的简单统计 group_by()
table(df1$x)->df1_c_stat
df1_mfs%>%
    group_by(x)%>%
    summarise(mean_z = mean(z),mean_w = mean(w))->df1_stat
df1_stat

  x mean_z mean_w
1 a 6.50   1.71635
2 b 8.75   1.82575
3 e 9.00   2.75790